Q1.	Write a Python program to convert kilometers to miles?

In [4]:
k = float(input("Please enter distance in kilometer : "))
print("Given distance is {} miles".format(k * 0.621371))

Please enter distance in kilometer : 18
Given distance is 11.184678 miles

Q2.	Write a Python program to convert Celsius to Fahrenheit?

In [5]:
c = float(input("Please enter temperature in Celsius : "))
print("Entered temperature is {} Fahrenheit".format((c * 1.8) + 32))

Please enter temperature in Celsius : 27
Entered temperature is 80.6 Fahrenheit

Q3.	Write a Python program to display calendar?

In [9]:
import calendar

y = int(input("Enter year: "))
m = int(input("Enter month number (0 to 12): "))

print(calendar.calendar(y))
print("********************************************************************************")
print(calendar.month(y, m))

Enter year: 2022
Enter month number (0 to 12): 9
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

********************************************************************************
   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

Q4.	Write a Python program to solve quadratic equation?

In [21]:
import cmath, math

print("Enter values of a, b and c according to quadratic equation 'ax**2 + bx + c = 0'")
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))
if a == 0:
    print("Value of 'a' can't be 0")
    break
else:

    d = (b ** 2) - (4 * a * c)
    
    if d < 0:
        r1 = (-b + cmath.sqrt(d))/(2 * a )
        r2 = (-b - cmath.sqrt(d))/(2 * a )
        
    elif d == 0:
        r1 = (-b / (2 * a))
        r2 = r1
        
    else:
        r1 = (-b + math.sqrt(d))/(2 * a )
        r2 = (-b - math.sqrt(d))/(2 * a )

    print("Roots of equation are {} and {} ".format(r1, r2))

Enter values of a, b and c according to quadratic equation 'ax**2 + bx + c = 0'
a: 1
b: 10
c: -24
Roots of equation are 2.0 and -12.0

Q5.	Write a Python program to swap two variables without temp variable?

In [23]:
a =int(input("Number 1: "))
b =int(input("Number 2: "))

print("\nBefore swap Number1: {} and Number2: {}".format(a, b))

a = a + b
b = a - b
a = a - b

print("\nAfter swap Number1: {} and Number2: {}".format(a, b))

Number 1: 10
Number 2: 5

Before swap Number1: 10 and Number2: 5

After swap Number1: 5 and Number2: 10